body{
  margin: 0px;
  padding: 0px;
  
  /* background-color:bisque;
  background-image: linear-gradient(19deg, bisque 0%, #989fff 100%);
   */
   /* background-color:bisque;
background-image: linear-gradient(62deg, bisque 0%, #945cfd 100%); */
/* background-color: #001886;
background-image: linear-gradient(43deg, #001886 0%, #05060f 46%, #001886  100%); */
background-color:black;


  
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color:aliceblue;
  background-color: #001886;
background-image: linear-gradient(43deg, #001886 0%, #05060f 46%, #001886  100%); 
}
#name{
  
  /* color:#880808;  
  color:#ffc000; */
  background: -webkit-linear-gradient();
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
#image{
  width: 150px;
  margin-left: auto !important; /* This pushes the image to the right */
  border-radius: 50%;
  margin-top: 20px;

}
#nav{
  display: flex;
  align-items:center;
  justify-content: space-between;
   padding: 20px;
   background-color:  #001886;
   background-image: linear-gradient(180deg, #001886 10%, #05060f 50%, #001886  100%);
   /* background-color: #001886;
   background-image: linear-gradient(43deg, #001886 0%, #05060f 46%, #001886  100%);  */
  
  
  border: 2px solid #ffc000;
}

.div{
  display: flex;
  
  
}
#blank-div{
width: 25%;
border: 1px solid #ffc000 ;
                    /*    left box contant border */
margin: 20px;
border-radius:20px;
}
#main-contant{
  width: 50%;
  border: 1px solid #ffc000;      /*center contant border*/
  margin: 20px;
border-radius:20px;
}
#end{
  width: 25%;
  border: 1px solid #ffc000;     /*right contant border*/
  
  margin: 20px;
  border-radius:20px;

}
a{
  color:whitesmoke;
  margin: 6px;
  
}
table{
  border: 1px solid whitesmoke;       /*table border*/
  justify-content:center;
  align-items:center;
  text-align: center;
 width: 90%;
  margin: 20px;


}
#EducationalHistory{
  color:whitesmoke;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
#ProfessionalSkills{
  margin-left: 20px;
  color:whitesmoke;
}
#ProfessionalProjects{
  margin-left: 20px;
  color:whitesmoke;
}
#Hobbies{
  margin-left: 20px;
  color:whitesmoke;
}
#life-ambitions{
  margin-left: 20px;
  color:whitesmoke;
}
#efforts-for-country{
  margin-left: 20px;
  color:whitesmoke;
}
.nam{
  color:#ffc000;
}
.con{
 color:#ffc000;

}
#footer{
  text-align: center;
  background-color:  #001886;
background-image: linear-gradient(180deg, #001886 10%, #05060f 50%, #001886  100%);
/* 
  background-color: #001886;
  background-image: linear-gradient(43deg, #001886 0%, #05060f 46%, #001886  100%);  */

  color:whitesmoke;
  margin: 20px, 0px 0px, 0px;
  padding:20px;
  
  height: 150px;
 
}
#logo{
  display: flex;
  justify-content: center;
  align-items:center;
}
.icons{
  width: 35px;
  height: auto;
}