body{
  margin: 0px;
  padding: 0px;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color:aliceblue;
  background-color:black
}
#name{
  background: linear-gradient(#eee, #333);  /* The gradient color */
  -webkit-background-clip: text;       /* Clip the background to the text */
  background-clip: text;              /* For non-WebKit browsers */
  color: transparent; 

 

}
#image{
  width: 150px;
  margin-left: auto !important; /* This pushes the image to the right */
  border-radius: 50%;
  margin-top: 20px;

}
#nav{
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  
}
a{
  color:whitesmoke;
  margin: 6px;
  
}
table{
  border: 2px solid black;
  justify-content:center;
  align-items:center;
  text-align: center;
 width: 90%;
  margin: 20px;


}
#Educational History{
  width:100px;
  display:flex;
  justify-content: center;
  align-items:center
}