body{
  margin: 0px;
  padding: 0px;
  
  /* background-color:bisque;
  background-image: linear-gradient(19deg, bisque 0%, #989fff 100%);
   */
   /* background-color:bisque;
background-image: linear-gradient(62deg, bisque 0%, #945cfd 100%); */
/* background-color: #001886;
background-image: linear-gradient(43deg, #001886 0%, #05060f 46%, #001886  100%); */
background-color:black;


  
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200%;
  height: 280px;
  /* color:aliceblue;
  background-color: #0c0c0c;
background-image: linear-gradient(43deg, gold 0%,#161516 46%, black 100%); */
position: relative;
max-width: 1080px;

}

.base-image{
  width: 200%;
  height: 280px;
 background-size:contain;
 object-fit: cover;
}
.header-content {
  position: absolute;
  top: 20px; /* Adjust padding from top */
  left: 20px; /* Adjust padding from left */
  color: white;

}
@media (max-width: 768px){
header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color:aliceblue;
  background-color: #001886;
  background-image: linear-gradient(180deg, #05060f 10%,#001886   50%, #05060f 100%);
/* background-image: linear-gradient(43deg, #001886 0%, #05060f 46%, #001886  100%);  */
max-width: 768px;
padding-left: 10px;
}
}

.header-text{
  /* 
  /* color:#880808;  
  color:#ffc000; */
 color: whitesmoke;
 text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-left: 180px;
 
}
.sub-text{
  color:whitesmoke;
  text-align: center;
  font-weight: 700;
  text-align: center !important;
  font-size: 18px;
  margin-left: 200px;
}
.contant{
  text-align: center;
  margin-left: 200px;
}
.span{
 
  background: -webkit-linear-gradient(43deg, #a241d0 0%, #f90118 46%, #fff500 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.side-image{
  width: 180px;
  border-radius: 50%;   
  margin-top: 20px;
  border:2px solid rgb(253, 171, 19);
  position: absolute;
  top: 20px;              /*  match header's top */
  right: 20px;             /* Position it on the right side */
        
  object-fit: cover; /* Maintain aspect ratio */
  display:block;
 margin-right: 50px;
  
}
.side-image:hover{
  border: 3px solid gold;
}
#nav{
  display: flex;
  align-items:center;
  justify-content: space-between;
   padding: 20px;
   background-color:  #001886;
   background-image: linear-gradient(180deg, #05060f 10%, gold   50%, #05060f 100%);
   /* background-image: linear-gradient(180deg, #001886 10%, #05060f 50%, #001886  100%); */
   /* background-color: #001886;
   background-image: linear-gradient(43deg, #001886 0%, #05060f 46%, #001886  100%);  */
  border: 2px solid #ffc000;
}
@media (max-width: 768px){
#nav{
  max-width: 798px;
  
  display: flex;
  align-items:center;
  justify-content: space-between;
   padding: 20px;
   background-color:  #001886;
   background-image: linear-gradient(180deg, #05060f 10%,#001886   50%, #05060f 100%);
   /* background-image: linear-gradient(180deg, #001886 10%, #05060f 50%, #001886  100%); */
   /* background-color: #001886;
   background-image: linear-gradient(43deg, #001886 0%, #05060f 46%, #001886  100%);  */
  border: 2px solid #ffc000;
  
}
}
.div{
  display: flex;
  
  
}
#blank-div{
width: 25%;
border: 1px solid #ffc000 ;
                    /*    left box contant border */
margin: 20px;
border-radius:20px;
}
#main-contant{
  width: 50%;
  border: 1px solid #ffc000;      /*center contant border*/
  margin: 20px;
border-radius:20px;
}
#end{
  width: 25%;
  border: 1px solid #ffc000;     /*right contant border*/
  
  margin: 20px;
  border-radius:20px;

}
a{
  color:whitesmoke;
  margin: 6px;
  font-weight: 600;
}


table{
  border: 1px solid #ffc000;       /*table border*/
  justify-content:center;
  align-items:center;
  text-align: center;
 width: 90%;
  margin: 20px;
}
@media (max-width: 768px){
table{
  max-width: 768px; 
  border: 1px solid #ffc000;       /*table border*/
  justify-content:center;
  align-items:center;
  text-align: center;
 width: 90%;
  margin: 20px;
}
}
#EducationalHistory{
  color:whitesmoke;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
#ProfessionalSkills{
  margin-left: 20px;
  color:whitesmoke;
}
#ProfessionalProjects{
  margin-left: 20px;
  color:whitesmoke;
}
#Hobbies{
  margin-left: 20px;
  color:whitesmoke;
}
#life-ambitions{
  margin-left: 20px;
  color:whitesmoke;
}
#efforts-for-country{
  margin-left: 20px;
  color:whitesmoke;
}
@media (max-width:768px){
#efforts-for-country{
  max-width: 768px;
  color:whitesmoke;
}
}
.nam{
  color:#ffc000;
}
.con{
 color:#ffc000;

}
#footer{
  text-align: center;
  background-color:  #001886;
background-image: linear-gradient(180deg, #05060f 10%,#001886   50%, #05060f 100%);
/* 
  background-color: #001886;
  background-image: linear-gradient(43deg, #001886 0%, #05060f 46%, #001886  100%);  */

  color:whitesmoke;
  margin: 20px, 0px 0px, 0px;
  padding:20px;
 
  height: 150px;
 
}
#logo{
  display: flex;
  justify-content: center;
  align-items:center;
}
.icons{
  width: 35px;
  height: auto;
}
#icons:hover{
  background: linear-gradient( #0f2027, #203a43,#2c5364);
}